<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated terraform -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="terraform.presentation.TerraformModelWizardID"
            name="%_UI_TerraformModelWizard_label"
            class="terraform.presentation.TerraformModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TerraformModelFile.gif">
         <description>%_UI_TerraformModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated terraform -->
      <editor
            id="terraform.presentation.TerraformEditorID"
            name="%_UI_TerraformEditor_label"
            icon="icons/full/obj16/TerraformModelFile.gif"
            extensions="terraform"
            class="terraform.presentation.TerraformEditor"
            contributorClass="terraform.presentation.TerraformActionBarContributor">
      </editor>
   </extension>

</plugin>
